<%- include('header') %>

<style>
  span {
    margin-right: 20px;
  }
</style>

<div><%= err %></div>
<h3><%= content.title %></h3>
<span>作者:<%= content.username %></span>
<span>浏览次数:<%= content.pv %></span>
<span>发表事件:<%= content.moment %></span>

<div><%= content.content %></div>
<br>
<% if (isAuthor) { %>
  <a href="/posts/editposts?id=<%= content.id %>">修改文章</a>
  <button id="deleteBtn">删除文章</button>
<% } %>
<br>
<div>评论列表</div>
<% if (list) { %>
  <ul>
  <% list.forEach(function (item) { %>
    <li>
      <div><%= item.content %></div>
      <div>评论人：<%= item.username %></div>
      <div>评论时间：<%= item.moment %></div>
    </li>
  <% }) %>
  </ul>
  <div>总数:<%= content.comments %></div>
  <% for(var i = 0; i<content.comments/10; i++) { %>
    <a href="/posts/article/<%= content.id %>?page=<%= (i+1) %>"><%= (i+1) %></a>
  <% } %>  
<% } %>

<br>
<div>发布评论：</div>
<div><textarea name="comment" id="comment" cols="30" rows="10" placeholder="评论"></textarea></div>
<div><button id="submit">评论</button></div>
<a href="/">返回首页</a>

<script>
  let comments = <%= content.comments %>
  $('#submit').click(function () {
    $.post('/comment', {
      content: $('#comment').val(),
      postid: location.pathname.substring(location.pathname.lastIndexOf('/')+1),
      comments: ++comments
    }, function (data) {
      if (data.state == 1) {
        history.go(0)
      }
    })
  })
  $('#deleteBtn').click(function () {
    $.post('/posts/deleteposts', {
      postid: location.pathname.substring(location.pathname.lastIndexOf('/')+1)      
    }, function (data) {
      if (data.state == 1) {
        window.location.href="/"        
      }
    })
  })
</script>

<%- include('footer') %>